@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100..1000&display=swap');
@import "tailwindcss";

/* Primary Font - Local OTF */
@font-face {
  font-family: "Karlen";
  src: url("./assets/fonts/Velick-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Velick";
  src: url("./assets/fonts/scallet.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Theme Variables for Tailwind v4 */
@theme {
  --font-karlen: "Karlen", serif;
  --font-velick: "Velick", serif;
  --font-body: "DM Sans", sans-serif;
}

/* Global Styles */
body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-karlen);
}

@theme {
  --color-primary: #1B1B1D;
  --color-secondary: #D4AF37;
  --color-accent: #A68A64;

  --color-background: #F7F5F2;
  --color-surface: #FFFFFF;

  --color-text-primary: #1B1B1D;
  --color-text-secondary: #6B6B6B;

  --color-sand: #DCC8A3;
  --color-coffee: #4A3A2F;
}

/* HeroSection Css */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scroll-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(8px);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out forwards;
  animation-delay: 0.2s;
  opacity: 0;
}

.animate-scroll-down {
  animation: scroll-down 1.5s ease-in-out infinite;
}

